html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Times New Roman', sans-serif;
    
}

h1{
    text-align: center;
    background-color: #cb6ce6;
}
h2 {
   color: #cb6ce6;
   font-size: x-large;
    text-align: center;
    padding: 30px;
}
h3{
    color: white;
}
section {
    justify-content: center; 
}
.card{
    color: aquamarine;
}
#experiencias{
    background-color: #cb6ce6;
    padding: 30px;
    display: flex;
}
.container{
    display: center;
}
.header {
    font-size: 27px;
    padding: 10px;
}
#video{
    display: flex;
    padding: 10px;
}
.row {
    color: #090909;
}
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
#Productos{
    padding: 30px;
    display: flex;
}
#Nosotros{
    background-color: #cb6ce6;
    padding: 30px;
    display: flex;
}
#Contacto { 
    padding: 30px;
    display: flex-start;
    
}
  /*Seccion Footer*/
footer {
    margin: auto;
    background-color: rgb(11, 11, 11);
    text-align: center;

 }
#volver{
    padding: 30px;
    display: flex;
}

.redes{
    margin: 5px;

 }
 a {
    text-decoration: none; /*no pude hacer que los iconos cambien de color*/
    color:#e71010;
    }
a:hover{
    color:#f5edf3;
}

