
h1{
    text-align: center;
    background-color: #cb6ce6;
}
h2{
   color: #cb6ce6;
   font-size: x-large;
    text-align: center;
    padding: 30px;
}
h3{
    color: rgb(252, 254, 255);
}
#Experiencias{
    background-color: #cb6ce6;
    padding: 30px;
}
.header {
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
#Contacto{ 
    padding: 30px;
}
  /*Seccion Footer*/
footer{
    height: 110px;
    text-align: center;
    padding: 30px;
    margin: auto;
    background-color: rgb(11, 11, 11);
 }
